body {
    background-color: grey;
}
.section {
    border: 1px solid blue;
    display: none;
    padding: 1em;
}
.section#step-1 {
    display: block;
}
input {
    width: 80%;
}
button {
    margin-top: 0.5em;
}
.size2x {
    font-size: 200%;
}
#compass {
    border: 1px solid red;
    text-align: center;
    position: relative;
    padding: 3em 0;
}
#compass .direction {
    transition: transform 0.1s ease-out;
    transform: rotate(-90deg);
    display: block;
    font-size: 500%;
}
